{% include 'header.html' %}

<style>
    .main{
        display: flex;
        width: 100%;
        img{
                /* position: relative;
                left: 500px;
                top:-350px; */
                width: 400px;
                height: 268px;
                margin-left: 100px;
                margin-top :55px;
            
            }
            .main_sub{
            width: 60%;
            height: auto;
            p{
                text-align: justify;
                padding: 25px;
                font-size: 20px;
                margin-left: 81px;
            }
            
        }
        /* .about_sub{
            width: 40px;
            height: auto;
        } */
    }
    h1{
        text-align: center;
        margin-top: 100px;
    }
   
</style>

<h1>About Us....</h1>
<div class="main">
    <img src="static/assets/images/about.jpg">
    <div class="main_sub">
        <p>At Agro Connect, we are dedicated to revolutionizing the agricultural landscape through innovation and collaboration.
            Our mission is to empower farmers, enhance productivity, and promote sustainable practices by connecting them with 
            cutting-edge technology and resources.Founded by a team of passionate agronomists and tech enthusiasts, Agro Connect 
            serves as a bridge between farmers and the agricultural ecosystem. We believe that by harnessing the power of technology, 
            we can provide valuable insights, improve supply chain efficiency, and ultimately enhance food security.Our platform offers 
            a suite of tools and services designed to meet the unique needs of the agricultural community. From real-time market data to 
            expert advisory services, we aim to equip farmers with the knowledge and support they need to thrive in today’s competitive 
            environment.</p>
    </div>

</div>


{% include 'footer.html' %} 