{% include 'admin_header.html' %}
<!-- Page title -->

<div class="blog-area right-sidebar full-blog default-padding">
    <div class="container">
        <div class="blog-items">
            <div class="row">
                <div class="blog-content col-lg-8 col-md-12">
                    <div class="blog-item-box">
                        <div class="col-lg-12 single-item"><!-- Single Post -->
                            <div class="post-2076 post type-post status-publish format-standard has-post-thumbnail hentry category-dairy category-farming category-harvest category-natural category-organic tag-fresh tag-vegetables item-inner" >
                                <div class="item"><!-- Post Thumbnail -->
                                    <div class="thumb">
                                        <a href="../announcing-result-the-resolution-sentiments/index.html" class="post-thumbnail">
                                           
                                        </a>
                                        </div><!-- End Post Thumbnail -->
                                        <!-- <div class="info"></div> -->
                                            {% with messages = get_flashed_messages() %}
                                                        {% if messages %}
                                                    <ul>
                                                        {% for message in messages %}
                                                        <li class="flash-message">{{ message }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                   
                                                        {% endif %}
                                                        {% endwith %}
                                    <table class="table">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th colspan="11" style="text-align: center;">View Land Details</th>
                                        </tr>
                                        <tr class="table-active table-success">
                                            <th>SL#</th>
                                            <th>Landowner Name</th>
                                            <th>Area</th>
                                            <th>Total Area</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                        {% for land in ar_obj %}
                                        <tr class="info">
                                            
                                            <td>{{ loop.index }}</td>
                                            <td>{{ land[1] }}</td>  
                                            <td>{{ land[2] }}</td>  
                                            <td>{{ land[3] }}</td>
                                            <td>{{ land[4] }}</td>
                                            <td>
                                                {% if land[4] == "Added" %}

                                                    <button  style="margin-left: 5px;width:50px;" type="button" 
                                                             class="btn btn-primary" 
                                                             data-bs-toggle="modal" 
                                                             data-bs-target="#userModal-{{ loop.index }}">
                                                             <a href="#" style="position:relative;left:-27px;color: white;">Details</a>
                                                    </button>

                                                {% else %}

                                                    <button  style="margin-left: 5px;width:90px;" type="button" 
                                                             class="btn btn-primary" 
                                                             data-bs-toggle="modal" 
                                                             data-bs-target="#userModal-{{ loop.index }}" disabled><a href="#" style="position:relative;left: -38px;top: 0px;;color: white;">Approved</a>
                                                    </button>
                                                
                                                {% endif %}

                                                    <!-- Modal for User Details -->
                                                    <div class="modal fade" id="userModal-{{ loop.index }}" tabindex="-1" aria-labelledby="userModalLabel-{{ loop.index }}" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="userModalLabel-{{ loop.index }}">Land Details</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="{{ url_for('land_approval',land_details_id = land[0]) }}" method="post" style="position: relative;top: -71px;">
                                                                        <input type="hidden" name="remark" value="{{ land[9] }}">
                                                                        <button style="position: relative;bottom: -1210px;" type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Approve</button>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Landowner Name:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[1] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Area:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[2] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Total Area:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[3] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Status:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[4] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Village:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[5] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Survey No:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[6] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Land_type:</strong></label>
                                                                            <input type="email" class="form-control" value="{{ land[7] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Image:</strong></label>
                                                                            <img src="{{ url_for('static', filename='uploads/' + land[8]) }}" alt="Land Image" style="width: 300px; height: 200px; object-fit: cover; border: 1px solid #ccc; border-radius: 5px;">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Remark:</strong></label>
                                                                            <input type="text" name="remark" class="form-control" value="{{ land[9] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Date:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[10] }}" readonly>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <button style="margin-left: 0px;width:100px;" type="button" 
                                                    class="btn btn-primary" 
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#enquiryModal-{{ loop.index }}">
                                                    <a href="#" style="position:relative;left:-44px;color: white;display: flex;">Notification</a>
                                                    </button> 
                                                    <div class="modal fade" id="enquiryModal-{{ loop.index }}" tabindex="-1" aria-labelledby="enquiryModalLabel-{{ loop.index }}" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="enquiryModalLabel-{{ loop.index }}">Admin's Remark on 
                                                                        Land
                                                                    </h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <!-- Reply Form -->
                                                                    <form action="{{url_for('admin_send_notification',land_details_id = land[0])}}" method="POST">
                                                                        
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Area:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[2] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Total Area:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[3] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Status:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[4] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Village:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[5] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Survey No:</strong></label>
                                                                            <input type="text" class="form-control" value="{{ land[6] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Land_type:</strong></label>
                                                                            <input type="email" class="form-control" value="{{ land[7] }}" readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label class="form-label"><strong>Remark:</strong></label>
                                                                            <textarea class="form-control" name="admin_remark" rows="4" placeholder="Type here..." style="margin-left: 1px;margin-top: 0px;"></textarea>
                                                                        </div>
                                                                        <div class="mt-3 text-center">
                                                                            <button type="submit" class="btn btn-primary">Send</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                
                                                </td>
                                                
                                            </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="11" style="text-align: center;">Not found</td>
                                        </tr>
                                        {% endfor %}
                                    </table> 
                                    
                                            <div class="meta">
                                                
                                                <ul>
                                            </ul>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Post -->
                                    </div>
                                    <div class="col-lg-12 single-item"><!-- Single Post -->
                                        <div class="post-1224 post type-post status-publish format-standard has-post-thumbnail hentry category-dairy category-farming category-harvest category-natural tag-organic item-inner" >
                                        <div class="item"><!-- Post Thumbnail -->
                                           
                                            </div>
                                        </div><!-- End Single Post --></div><div class="col-lg-12 single-item"><!-- Single Post --><div class="post-1227 post type-post status-publish format-standard has-post-thumbnail hentry category-dairy category-farming category-natural category-organic tag-food tag-health item-inner" >
                                                <div class="item"><!-- Post Thumbnail -->
                                                    
                                                </div></div><!-- End Single Post --></div></div>



                                                {% include 'admin_sidebar.html' %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
<script>
    function showCustomAlert(message) {
    const popup = document.createElement('div');
    popup.textContent = message;
    popup.style.position = 'fixed';
    popup.style.top = '20%';
    popup.style.left = '50%';
    popup.style.transform = 'translate(-50%, -50%)';
    popup.style.background = 'white';
    popup.style.padding = '35px';
    popup.style.border = '1px solid black';
    popup.style.boxShadow = '0 5px 15px rgba(0, 0, 0, 0.3)';
    popup.style.zIndex = '1000';
    popup.style.width = '400px'; // Increase the width of the box
    popup.style.textAlign = 'center'; // Center-align content inside the popup
    popup.style.borderRadius = '5px'; // Increase the width of the box
    popup.style.height = '100px';

    document.body.appendChild(popup);

    // Automatically remove popup after 5 seconds
    setTimeout(() => {
        popup.remove();
    }, 5000);
}

    document.addEventListener('DOMContentLoaded', function () {
    const flashMessages = document.querySelectorAll('.flash-message');
    flashMessages.forEach(message => {
        showCustomAlert(message.textContent.trim()); // Trim leading/trailing whitespace
    });
});

</script>
{% include 'footer.html' %} 

