{% include 'admin_header.html' %}
<!-- Page title -->

<div class="blog-area right-sidebar full-blog default-padding">
    <div class="container">
        <div class="blog-items">
            <div class="row">
                <div class="blog-content col-lg-8 col-md-12">
                    <div class="blog-item-box">
                        <div class="col-lg-12 single-item"><!-- Single Post -->
                            <div class="post-2076 post type-post status-publish format-standard has-post-thumbnail hentry category-dairy category-farming category-harvest category-natural category-organic tag-fresh tag-vegetables item-inner" >
                                <div class="item"><!-- Post Thumbnail -->
                                    <div class="thumb" style="height: 545px;">
                                        
                                            
                                                <div>
                                                    {% with messages = get_flashed_messages() %}
                                                        {% if messages %}
                                                    <ul>
                                                        {% for message in messages %}
                                                        <li class="flash-message">{{ message }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                   
                                                        {% endif %}
                                                        {% endwith %}
                                                    <form action="{{url_for('admin_insurance_management')}}" method="post" >
                                                        <h4 style="color: chocolate;margin-left: 100px;">Insurance Management</h4>
                                                        <label style="margin-left: 50px;margin-top: 50px;">Insurance Type:</label>
                                                        <input type="text" name="insurance_type_name" style="padding-left: 10px;padding-right: 10px; border: 1px solid green;margin-left:80px;"><br>
                                                        <label style="margin-left: 50px;margin-top: 50px;">Premium amount:</label>
                                                        <input type="text" name="premium_amount" style="padding-left: 10px;padding-right: 10px;border: 1px solid green;margin-left:80px;"><br>
                                                        <label style="margin-left: 50px;margin-top: 50px;">Coverage amount:</label>
                                                        <input type="text" name="coverage_amount" style="padding-left: 10px;padding-right: 10px;border: 1px solid green;margin-left:80px;"><br>
                                                        <label style="margin-left: 50px;margin-top: 50px;">Policy terms:</label>
                                                        <input type="text" name="policy_terms" style="padding-left: 10px;padding-right: 10px;border: 1px solid green;margin-left:80px;"><br> 
                                                        <button style="margin-left: 500px;position: relative;top:16px;width: 100px;height: 55px;">
                                                            <input type="submit" value="SAVE" style="position: relative;left: -29px;top:-11px;width: 80px;"></button>
                                                    </form>
                                                </div>
                                                
                                                
                                        
                                    </div><!-- End Post Thumbnail -->
                                    <div class="info" ><!-- Blog Meta -->
                                        
                                        <div class="table-responsive">
                                            <table class="table" >
                                                <thead class="thead-dark"></thead>
                                                <tr>
                                                    <th colspan="7" style="text-align: center;">Add new insurance type</th>
                                                </tr>
                                                <tr class="table-active table-success">
                                                    <th>SL#</th>
                                                    <th>Insurance type</th>
                                                    <th>Premium amount</th>
                                                    <th>Coverage amount</th>
                                                    <th>Policy terms</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                                {% for item in ar_obj %}
                                                    <tr class="info">
                                                        <td>{{ loop.index }}</td>  <!-- This will show the SL NO -->
                                                        <td>{{ item[1] }}</td>
                                                        <td>{{ item[2] }}</td>
                                                        <td>{{ item[3] }}</td>
                                                        <td>{{ item[4] }}</td>

                                                        <td class="info3" >
                                                            <button  style="width:-1px;position: relative;left: 2px;" type="button" 
                                                            class="btn btn-primary" 
                                                            data-bs-toggle="modal" 
                                                            data-bs-target="#userModal-{{ loop.index }}">
                                                            <i class="fas fa-edit" style="margin-left: 10px;"></i>
                                                            </button><!-- Modal for User Details -->
                                                            <div class="modal fade" id="userModal-{{ loop.index }}" tabindex="-1" aria-labelledby="userModalLabel-{{ loop.index }}" aria-hidden="true">
                                                               <div class="modal-dialog">
                                                                   <div class="modal-content">
                                                                       <div class="modal-header">
                                                                           <h5 class="modal-title" id="userModalLabel-{{ loop.index }}">Insurance management</h5>
                                                                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                       </div>
                                                                       <div class="modal-body">
                                                                           <form action="{{ url_for('admin_edit_insurance',insurance_type_id = item[0]) }}" method="post" style="position: relative;top: -71px;">
                                                                               <button style="position: relative;bottom: -371px;left:-10px;" type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Update</button>
                                                                               <div class="mb-3">
                                                                                   <label class="form-label" style="margin-left: -310px;position: relative;top: 12px;"><strong>Insurance type:</strong></label>
                                                                                   <input type="text" name="insurance_type_name" style="width: 250px;position: relative;right: -187px;top: -35px;" class="form-control" value="{{ item[1] }}">
                                                                               </div>
                                                                               <div class="mb-3" style="position: relative;top:-28px;">
                                                                                   <label class="form-label" style="margin-left: -310px;position: relative;top: 12px;"><strong>Premium amount:</strong></label>
                                                                                   <input type="text" name="premium_amount" style="width: 250px;position: relative;right: -187px;top: -35px;" class="form-control" value="{{ item[2] }}">
                                                                               </div>
                                                                               <div class="mb-3" style="position: relative;top:-54px;">
                                                                                   <label class="form-label" style="margin-left: -310px;position: relative;top: 12px;" ><strong>Coverage amount:</strong></label>
                                                                                   <input type="text" name="coverage_amount" style="width: 250px;position: relative;right: -187px;top: -35px;" class="form-control" value="{{ item[3] }}">
                                                                               </div>
                                                                               <div class="mb-3" style="position: relative;top:-79px;">
                                                                                   <label class="form-label" style="margin-left: -310px;position: relative;top: 12px;"><strong>Policy terms:</strong></label>
                                                                                   <input type="text" name="policy_terms" style="width: 250px;position: relative;right: -187px;top: -35px;" class="form-control" value="{{ item[4] }}">
                                                                               </div>
                                                                           </form>
                                                                       </div>
                                                                       <div class="modal-footer">
                                                                          
                                                                       </div>
                                                                   </div>
                                                               </div>
                                                           </div>
                                                            
                                                    
                                                           <form action="{{ url_for('admin_delete_insurance', insurance_type_id=item[0]) }}" method="post">
                                                            <input type="hidden" name="insurance_type_id" value="{{ item[0] }}">
                                                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?');" style="position: relative;left: 2px;width:-1px;">
                                                                <a href="#" style="position:relative;left:0px;color: white;"><i class="fas fa-trash"></i></a>
                                                            </button> 
                                                        </form>
                                                            
                                                        </td>
                                                    </tr>
       
                                                    
                                                {% else %}
                                                    <tr>
                                                        <td colspan="7" style="text-align: center;">No insurance types found.</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                             
                                            
                                        </div>
                                            </div>
                                        </div>
                                    </div><!-- End Single Post -->
                                </div>
                                <div class="col-lg-12 single-item"><!-- Single Post -->
                                    <div class="post-1224 post type-post status-publish format-standard has-post-thumbnail hentry category-dairy category-farming category-harvest category-natural tag-organic item-inner" >
                                        <div class="item"><!-- Post Thumbnail -->
                                            </div>
                                        </div><!-- End Single Post --></div>
                                        <div class="col-lg-12 single-item"><!-- Single Post -->
                                            <div class="post-1227 post type-post status-publish format-standard has-post-thumbnail hentry category-dairy category-farming category-natural category-organic tag-food tag-health item-inner" >
                                                <div class="item"><!-- Post Thumbnail -->

                                                </div>
                                            </div><!-- End Single Post -->
                                        </div>
                                    </div>
                                </div>
                                                                                                              


                                                            {% include 'admin_sidebar.html' %}
                                                                         
                                                                        </div>
                                                                    </div>
                                                                </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function showCustomAlert(message) {
        const popup = document.createElement('div');
        popup.textContent = message;
        popup.style.position = 'fixed';
        popup.style.top = '20%';
        popup.style.left = '50%';
        popup.style.transform = 'translate(-50%, -50%)';
        popup.style.background = 'white';
        popup.style.padding = '35px';
        popup.style.border = '1px solid black';
        popup.style.boxShadow = '0 5px 15px rgba(0, 0, 0, 0.3)';
        popup.style.zIndex = '1000';
        popup.style.width = '400px'; // Wider box
        popup.style.textAlign = 'center'; // Center-align content
        popup.style.borderRadius = '5px';
        popup.style.height = '100px';

        document.body.appendChild(popup);

        // Automatically remove popup after 3 seconds
        setTimeout(() => {
            popup.remove();
        }, 3000);
    }

    document.addEventListener('DOMContentLoaded', function () {
        const flashMessages = document.querySelectorAll('.flash-message');

        flashMessages.forEach(message => {
            showCustomAlert(message.textContent.trim()); // Show alert popup
        });

        // Hide flash messages after 3 minutes (180,000 milliseconds)
        setTimeout(() => {
            flashMessages.forEach(message => {
                message.style.display = 'none'; // Hide flash message
            });
        }, 3000);
    });
</script>

                                                        
{% include 'footer.html' %}
