{% include 'contact_header.html' %}
<div class="agrica-fluid">
	<div class="builder-page-wrapper">		
	<div data-elementor-type="wp-page" data-elementor-id="2667" class="elementor elementor-2667">
		<div class="elementor-element elementor-element-2a99bd8 e-con-full contact-page e-flex e-con e-parent" data-id="2a99bd8" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;background_background&quot;:&quot;classic&quot;}" data-core-v316-plus="true">
			<div class="elementor-element elementor-element-f68da24 elementor-widget elementor-widget-agricacontactinfo" data-id="f68da24" data-element_type="widget" data-widget_type="agricacontactinfo.default">
				<div class="elementor-widget-container">
					<div class="contact-area overflow-hidden default-padding">
						<!-- <div class="sahpe-right-bottom">
							<img decoding="async" src="static/assets/images/16.png" alt="Image Not Found">
						</div> -->
						<div class="container">
							<div class="row align-center">
								<div class="col-tact-stye-one col-xl-6 col-lg-7">
									<div class="contact-form-style-one mb-md-50">
										<!-- <img decoding="async" src="static/assets/images/10-2.png" alt="Image Not Found"> -->
										<h5 class="sub-title">Have Questions?</h5> 
										<h2 class="heading">Send us a Message</h2>
										<div class="wpcf7 no-js" id="wpcf7-f8-p2667-o1" lang="en-US" dir="ltr">
											<div class="screen-reader-response">
												<p role="status" aria-live="polite" aria-atomic="true"></p> 
												<ul></ul>
											</div>
											<form action="#" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
												<div style="display: none;">
													<input type="hidden" name="_wpcf7" value="8" />
													<input type="hidden" name="_wpcf7_version" value="5.8.5" />
													<input type="hidden" name="_wpcf7_locale" value="en_US" />
													<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f8-p2667-o1" />
													<input type="hidden" name="_wpcf7_container_post" value="2667" />
													<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
												</div>
												<div  class="contact-form contact-form">
													<div class="row">
														<div class="col-lg-12">
															<div class="form-group">
																<p>
																	<span class="wpcf7-form-control-wrap" data-name="text-903">
																		<input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="text-903" aria-required="true" aria-invalid="false" placeholder="Name" value="" type="text" name="text-903" />
																	</span>
																</p>
															</div>
														</div>
													</div>
													<div class="col-lg-6">
														<div class="form-group">
															<p><span class="wpcf7-form-control-wrap" data-name="email-58"><input size="40" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email form-control" id="email-58" aria-required="true" aria-invalid="false" placeholder="Email*" value="" type="email" name="email-58" /></span>
																<div class="row">
															</p>
														</div>
													</div>
													<div class="col-lg-6">
														<div class="form-group">
															<p>
																<span class="wpcf7-form-control-wrap" data-name="text-238">
																	<input size="40" class="wpcf7-form-control wpcf7-text form-control" id="text-238" aria-invalid="false" placeholder="Phone" value="" type="text" name="text-238" />
																</span>
															</p>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-lg-12">
														<div class="form-group comments">
															<p>
																<span class="wpcf7-form-control-wrap" data-name="textarea-630">
																	<textarea cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" id="textarea-630" aria-required="true" aria-invalid="false" placeholder="Tell Us About Project *" name="textarea-630"></textarea>
																</span>
															</p>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-lg-12">
														<p>
															<button type="submit" name="submit" id="submit" class="wpcf7">
																<i class="fa fa-paper-plane"></i> Get in Touch
															</button>
														</p>
													</div>
												</div>
 												<!-- Alert Message -->
												<div class="col-lg-12 alert-notification">
													<div id="message" class="alert-msg"></div>
												</div>
											</div>
											<div class="wpcf7-response-output" aria-hidden="true"></div>
										</form>
										</div>
									</div>
								</div>
								<div class="col-tact-stye-one col-xl-5 offset-xl-1 col-lg-5">
									<div class="contact-style-one-info text-light">
										<h2>Contact <span> Information</span></h2>
										<p> Your details will remain confidential and will only be used to assist with your request. Please feel free to reach out if you have any questions. </p>
										<ul>
											<li>
												<div class="content">
													<h5 class="title">Thank you!</h5>
													<a href="tel:+15048998221">+91 7586958956</a>
												</div>
											</li>
											<li>
												<div class="info">
													<h5 class="title">Our Location</h5>
													<p>5919 Trussville Mumbai,   <br> India
										</p>
									</div>
								</li>
								<li>
									
									<div class="info">
										<h5 class="title">Official Email</h5>
										<a href="mailto:info@agrica.com">info@agroconnect.com</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div></div></div></div></div>
{% include 'footer.html' %}
		