{% include 'customer_header.html' %}

<div class="breadcrumb-area text-center shadow custom-breadcrumb dark text-light ">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<h1 class="breadcumb-title">Customer <span>Home</span></h1>
				<nav class="woocommerce-breadcrumb" aria-label="Breadcrumb">
					<a href="{{ url_for('index') }}">Home</a>&nbsp;&#47;&nbsp;
				</nav>
			</div>
		</div>
	</div>
</div><!-- End of Page title -->
<div class="validtheme-shop-area default-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="shop-listing-contentes">
					<div class="row item-flex center">
						<div class="col-lg-7">
							 <div class="content"><!-- Tab Nav -->
								
							</div> 
						</div>
						<div class="col-lg-5 text-right">
							
							</form> 
						</div>
					</div>
				</div><!-- Tab Content -->
				<!-- 
				
                            </div>End List  -->
                        <!-- </div>
                    </div> -->
                </div><!-- End Tab Content -->
				<div class="row">
					<table style="margin-left: -33px;">
						<tr>
							<th colspan="11" style="text-align: center;">Complaint Status</th>
						</tr>
						<tr style="width: 20px;">
							<th>SL_No</th>
							<th>Complaint</th>
							<th>Admin_reply</th>
							<th>Status</th>
						</tr>
						{% for status in ar_obj %}
						<tr class="info">
							
							<td>{{ loop.index }}</td>
							<td>{{ status[0] }}</td>  
							<td>{{ status[1] }}</td> 
							<td>{{ status[2] }}</td>
							
						
						</tr>
						{% else %}
						<tr>
							<td colspan="4" style="text-align: center;">Not found</td>
						</tr>
						{% endfor %}
					</table> 
			</div>
        </div>
    </div>
</div>
{% include 'footer.html' %}