{% include 'customer_header.html' %}

<div class="breadcrumb-area text-center shadow custom-breadcrumb dark text-light ">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<h1 class="breadcumb-title">Customer <span>Home</span></h1>
				<nav class="woocommerce-breadcrumb" aria-label="Breadcrumb">
					<a href="{{ url_for('index') }}">Home</a>&nbsp;&#47;&nbsp;
				</nav>
			</div>
		</div>
	</div>
</div><!-- End of Page title -->
<div class="validtheme-shop-area default-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="shop-listing-contentes">
					<div class="row item-flex center">
						<div class="col-lg-7">
							 <div class="content"><!-- Tab Nav -->
								
							</div> 
						</div>
						<div class="col-lg-5 text-right">
							
							</form> 
						</div>
					</div>
				</div><!-- Tab Content -->
				<!-- 
				
                            </div>End List  -->
                        <!-- </div>
                    </div> -->
                </div><!-- End Tab Content -->
				<div class="row">
					<div class="container" style="width: 700px;height: 250px; border: 1px solid black; position: relative; top: 25px;">
						<p >In the agriculture sector, customers play a pivotal role as their purchasing decisions directly influence the types of crops grown, farming practices employed, and overall market direction, essentially acting as the driving force behind production choices; by expressing their preferences for quality, sustainability, and specific produce, consumers can shape the agricultural landscape, encouraging farmers to adapt and innovate to meet evolving demands, thus contributing to a dynamic and responsive food system. 
							Consumers have significant influence over the direction of the food and agriculture system. Through their purchases they express their preferences and values and help shape the decisions producers and retailers make.</p>
					</div>
					
				<div class="container2">
					<div class="container3">
						<h5 style="color: white;">100% organic product</h5>
						<p style="color: white;">We are committed to providing 100% organic agricultural products that are grown without the use of synthetic chemicals, pesticides, or fertilizers.</p>
					</div>
					<div class="container4">
						<h5 style="color: white;position: relative;top: -3px;">Environment friendly</h5>
						<p style="color: white;">We prioritize sustainability and environmental responsibility by offering 100% organic agricultural products. Our farming practices focus on nurturing the earth, avoiding harmful chemicals, and fostering a healthy ecosystem.</p>
					</div>
					<div class="container5">
						<h5 style="color: white;position: relative;top: 2px;">Absolute Quality</h5>
						<p style="color: white;">Our 100% organic agricultural products are carefully grown, harvested, and handled to meet the highest standards,dedicated to delivering absolute quality in every product we offer.</p>
					</div>
					<div class="container6">
						<h5 style="color: white;position: relative;top: 2px;">Safe and Secure</h5>
						<p style="color: white;">We adhere to rigorous standards and ethical farming practices to provide you with fresh, nutritious food that is not only good for you but also for the environment.</p>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
{% include 'footer.html' %}