<!doctype html>
<html lang="en-US">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AgroConnect</title>
	<link rel="icon" type="image/png" href="static/assets/images/Agrologonew.png">
<meta name='robots' content='max-image-preview:large' />
<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />



<link rel='stylesheet' id='wp-block-library-css' href="{{ url_for('static', filename='assets/css/block-library/style.min84fc.css?ver=6.4.3')}}" type='text/css' media='all' />



<link rel='stylesheet' id='redux-extendify-styles-css' href="{{ url_for('static', filename='assets/css/extendify-utilities0ad8.css?ver=4.4.11')}} " type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css' href='static/assets/css/stylesdfc9.css?ver=5.8.5' type='text/css' media='all' />
<style id='woocommerce-inline-inline-css' type='text/css'>
/* .woocommerce form .form-row .required { visibility: visible; } */
</style>
<link rel='stylesheet' id='slick-css' href='static/assets/libs/slick/slick84fc.css?ver=6.4.3' type='text/css' media='all' />
<link rel='stylesheet' id='perfect-scrollbar-css' href='static/assets/libs/perfect-scrollbar/css/perfect-scrollbar.min84fc.css?ver=6.4.3' type='text/css' media='all' />
<link rel='stylesheet' id='perfect-scrollbar-wpc-css' href='static/assets/libs/perfect-scrollbar/css/custom-theme84fc.css?ver=6.4.3' type='text/css' media='all' />
<link rel='stylesheet' id='magnific-popup-css' href='static/assets/libs/magnific-popup/magnific-popup84fc.css?ver=6.4.3' type='text/css' media='all' />
<link rel='stylesheet' id='woosq-feather-css' href='static/assets/libs/feather/feather84fc.css?ver=6.4.3' type='text/css' media='all' />
<link rel='stylesheet' id='woosq-frontend-css' href='static/assets/css/frontenda25a.css?ver=3.5.5' type='text/css' media='all' />
<link rel='preload' as='font' type='font/woff2' crossorigin='anonymous' id='tinvwl-webfont-font-css' href='static/assets/fonts/tinvwl-webfontffc1.woff2?ver=xu2uyi'  media='all' />
<link rel='stylesheet' id='tinvwl-webfont-css' href='static/assets/css/webfont.minf71b.css?ver=2.8.0' type='text/css' media='all' />
<link rel='stylesheet' id='tinvwl-css' href='static/assets/css/public.minf71b.css?ver=2.8.0' type='text/css' media='all' />
<link rel='stylesheet' id='agrica-style-css' href='static/assets/css/styled5f7.css?ver=2.0' type='text/css' media='all' />
<link rel='stylesheet' id='agrica-fonts-css' href='https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&amp;family=Shadows+Into+Light+Two&amp;display=swap' type='text/css' media='all' />
<link rel='stylesheet' id='agrica-animate-css' href='static/assets/css/animate.min5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css' href='static/assets/css/bootstrap.min5b31.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='flaticon-css' href='static/assets/css/flaticon-set5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome-css' href='static/assets/css/font-awesome.minad76.css?ver=5.9.0' type='text/css' media='all' />
<link rel='stylesheet' id='swiper-bundle-css' href='static/assets/css/swiper-bundle.min5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='agrica-shop-css' href='static/assets/css/shop5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='agrica-validnavs-css' href='static/assets/css/validnavs5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='agrica-helper-css' href='static/assets/css/helper5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='agrica-main-style-css' href='static/assets/css/styled5f7.css?ver=2.0' type='text/css' media='all' />
<link rel='stylesheet' id='agrica-unittest-css' href='static/assets/css/unit-test5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='agrica-color-schemes-css' href='static/assets/css/color.schemes84fc.css?ver=6.4.3' type='text/css' media='all' />
<link rel='stylesheet' href="static/assets/css/custom_style.css">
<style id='agrica-color-schemes-inline-css' type='text/css'>
.banner-area {
	height: 100vh;
}

.validnavs a .badge
{
  background: var(--dark);
  float: right;
  position: relative;
  top: 5px;
}
</style>


<script type="text/javascript" src="static/assets/js/jquery/jquery.minf43b.js?ver=3.7.1" id="jquery-core-js"></script>
<script type="text/javascript" src="static/assets/js/jquery/jquery-migrate.min5589.js?ver=3.4.1" id="jquery-migrate-js"></script>
<script type="text/javascript" src="static/assets/js/jquery-blockui/jquery.blockUI.minb8c8.js?ver=2.7.0-wc.8.4.0" id="jquery-blockui-js" data-wp-strategy="defer"></script>
<script type="text/javascript" id="wc-add-to-cart-js-extra">

</script>
<script type="text/javascript" src="static/assets/js/frontend/add-to-cart.min2678.js?ver=8.4.0" id="wc-add-to-cart-js" defer="defer" data-wp-strategy="defer"></script>
<script type="text/javascript" src="static/assets/js/js-cookie/js.cookie.min48a0.js?ver=2.1.4-wc.8.4.0" id="js-cookie-js" data-wp-strategy="defer"></script>

<script type="text/javascript" src="static/assets/js/frontend/woocommerce.min2678.js?ver=8.4.0" id="woocommerce-js" defer="defer" data-wp-strategy="defer"></script>
<script type="text/javascript" src="static/assets/js/underscore.mind584.js?ver=1.13.4" id="underscore-js"></script>

<script type="text/javascript" src="static/assets/js/wp-util.min84fc.js?ver=6.4.3" id="wp-util-js"></script>


<link rel="icon" href="static/assets/images/cropped-favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="static/assets/images/01/cropped-favicon-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="static/assets/images/cropped-favicon-180x180.png" />

</head>
<body class="archive post-type-archive post-type-archive-product wp-embed-responsive theme-agrica woocommerce-shop woocommerce woocommerce-page woocommerce-no-js tinvwl-theme-style right-sidebar elementor-default elementor-kit-9">

<div class="top-bar-area top-bar-style-one bg-dark text-light">
	<div class="container">
		<div class="row align-center">
			<div class="col-lg-8">
				<ul class="item-flex">
					<li><i class="fas fa-clock"></i> Opening Hours : 24 hrs</li>
					<li><a href="tel:+4733378901"><i class="fas fa-phone-alt"></i> +91 7586958956</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 text-end">
				<div class="social">
					<ul>
						<li><a href="http://facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="http://twitter.com/"><i class="fab fa-twitter"></i></a></li>
						<li><a href="http://youtube.com/"><i class="fab fa-youtube"></i></a></li>
						<li><a href="http://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<header><!-- Start Navigation -->
<nav class="navbar mobile-sidenav inc-shape navbar-sticky navbar-default validnavs dark">
	<div class="container d-flex justify-content-between align-items-center"><!-- Start Header Navigation -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="../index.html">
				<img class="logo" src="static/assets/images/Agro-logo-new.png" alt="Agrica" />
			</a>
		</div><!-- End Header Navigation --><!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-menu">
			
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				<i class="fa fa-times"></i>
			</button>
			<ul data-in="fadeInDown" data-out="fadeOutUp" class="nav navbar-nav navbar-center" id="menu-primary-menu">
				<li id="menu-item-85" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-85 dropdown">
					<a   title="Home" href="{{ url_for('customer_home') }}" >Home</a>
				
				</li>
				<li id="menu-item-2681" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2681 dropdown">
					<a   title="Pages" href="{{ url_for('customer_view_products') }}">View Product</a>
					
				</li>

							
				<li id="menu-item-2718" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2718 dropdown">
					<a   title="Services" href="#" >My orders</a>
					
				</li>
				<li id="menu-item-2729" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2729 dropdown">
					<a   title="Blog" href="{{ url_for('customer_view_billDetails') }}" >View Bill</a>
				
				</li>
				<li id="menu-item-2732" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2732 dropdown">
					<a   title="Shop" href="#" >Payment</a>
					
				</li>

				<li id="menu-item-2732" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2732 dropdown">
					<a   title="Shop" href="{{ url_for('customer_cart') }}" >View cart</a>
				</li>
				
				
					
			</ul>
		</div><!-- /.navbar-collapse -->
		
	</div>  <!-- Overlay screen for menu -->
	<div class="overlay-screen"></div><!-- End Overlay screen for menu --> 
</nav><!-- End Navigation -->
</header>