{% include 'customer_header.html' %}

<div class="breadcrumb-area text-center shadow custom-breadcrumb dark text-light ">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<h1 class="breadcumb-title">Customer <span>Home</span></h1>
				<nav class="woocommerce-breadcrumb" aria-label="Breadcrumb">
					<a href="{{ url_for('index') }}">Home</a>&nbsp;&#47;&nbsp;
				</nav>
			</div>
		</div>
	</div>
</div><!-- End of Page title -->
<div class="validtheme-shop-area default-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="shop-listing-contentes">
					<div class="row item-flex center">
						<div class="col-lg-7">
							 <div class="content"><!-- Tab Nav -->
								<nav>
									<div class="nav nav-tabs" id="nav-tab" role="tablist">
										<button class="nav-link active" id="grid-tab-control" data-bs-toggle="tab" data-bs-target="#grid-tab" type="button" role="tab" aria-controls="grid-tab" aria-selected="true">
											<i class="fas fa-th-large"></i>
										</button>
										<button class="nav-link" id="list-tab-control" data-bs-toggle="tab" data-bs-target="#list-tab" type="button" role="tab" aria-controls="list-tab" aria-selected="false">
											<i class="fas fa-th-list"></i>
										</button>
									</div>
								</nav><!-- End Tab Nav -->
							</div> 
						</div>
						<div class="col-lg-5 text-right">
							<p class="woocommerce-result-count">Showing all 12 results</p>
							<form class="woocommerce-ordering" method="get">
								<select name="orderby" class="orderby" aria-label="Shop order">
									<option value="menu_order"  selected='selected'>Default sorting</option>
									<option value="popularity" >Sort by popularity</option>
									<option value="rating" >Sort by average rating</option>
									<option value="date" >Sort by latest</option>
									<option value="price" >Sort by price: low to high</option>
									<option value="price-desc" >Sort by price: high to low</option>
								</select>
								<input type="hidden" name="paged" value="1" />
							</form>
						</div>
					</div>
				</div><!-- Tab Content -->
				<div class="row">
					<div class="col-lg-12">
						<div class="tab-content tab-content-info text-center" id="shop-tabContent"><!-- Strt Product Grid Vies -->
							<div class="tab-pane fade show active" id="grid-tab" role="tabpanel" aria-labelledby="grid-tab-control">
								<ul class="vt-products columns-4">
									<li class="product type-product post-2068 status-publish first instock product_cat-organic product_cat-winter product_tag-juicy product_tag-vegetables has-post-thumbnail featured shipping-taxable purchasable product-type-simple">
										<div class="product-contents">
											<div class="product-image">
												<a href="../product/bell-pepper/index.html">
													<img src="static/assets/images/Bell-Pepper.png" alt="Product">
												</a>
												<div class="shop-action">
													<ul>
														<li class="wishlist">
															<div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-woocommerce_before_shop_loop_item" data-tinvwl_product_id="2068">
																<div class="tinv-wishlist-clear"></div>
																<a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-product-already-on-wishlist  tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="2068" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add">
																	<span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span>
																	<span class="tinvwl_already_on_wishlist-text">Already In Wishlist</span>
																</a>
																<div class="tinv-wishlist-clear"></div>		
																<div class="tinvwl-tooltip">Add to Wishlist</div>
															</div>
														</li>
														<li class="quick-view">
															<a href="index0545.html?quick-view=2068" class="woosq-btn woosq-btn-2068" data-id="2068" data-effect="mfp-3d-unfold" data-context="default" rel="nofollow">Quick view</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-caption">
												<div class="product-tags">
													<div class="product-tags">
														<a href="../product-tag/juicy/index.html" rel="tag">juicy</a>
														<a href="../product-tag/vegetables/index.html" rel="tag">Vegetables</a>
													</div>
												</div>
												<h4 class="product-title">
													<a href="../product/bell-pepper/index.html">Bell-Pepper</a>
												</h4>
												<div class="price">
													<span class="price">
														<span class="woocommerce-Price-amount amount">
															<bdi>60.00<span class="woocommerce-Price-currencySymbol">&#36;</span></bdi>
														</span>
													</span>
												</div>
												<a href="index5414.html?add-to-cart=2068"  class="cart-btn ajax_add_to_cart add_to_cart_button" data-product_id="2068" data-product_sku="woo-bell-pepper" >
													<i class="fas fa-shopping-bag"></i>Add to cart
												</a>
											</div>
										</div>
									</li>
									<li class="product type-product post-2073 status-publish instock product_cat-vegetables product_cat-winter product_tag-vegetables product_tag-winter has-post-thumbnail featured shipping-taxable purchasable product-type-simple">
										<div class="product-contents">
											<div class="product-image">
												<a href="../product/cabbage/index.html">
													<img src="static/assets/images/Cabbage.png" alt="Product">
												</a>
												<div class="shop-action">
													<ul>
														<li class="wishlist">
															<div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-woocommerce_before_shop_loop_item" data-tinvwl_product_id="2073">
																<div class="tinv-wishlist-clear"></div>
																<a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-product-already-on-wishlist  tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="2073" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add">
																	<span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span>
																	<span class="tinvwl_already_on_wishlist-text">Already In Wishlist</span>
																</a>
																<div class="tinv-wishlist-clear"></div>		
																<div class="tinvwl-tooltip">Add to Wishlist</div>
															</div>
														</li>
														<li class="quick-view">
															<a href="index2f6c.html?quick-view=2073" class="woosq-btn woosq-btn-2073" data-id="2073" data-effect="mfp-3d-unfold" data-context="default" rel="nofollow">Quick view</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-caption">
												<div class="product-tags">
													<div class="product-tags">
														<a href="../product-tag/vegetables/index.html" rel="tag">Vegetables</a>
														<a href="../product-tag/winter/index.html" rel="tag">Winter</a>
													</div>
												</div>
												<h4 class="product-title">
													<a href="../product/cabbage/index.html">Cabbage</a>
												</h4>
												<div class="price">
													<span class="price">
														<span class="woocommerce-Price-amount amount">
															<bdi>49.00<span class="woocommerce-Price-currencySymbol">&#36;</span></bdi>
														</span>
													</span>
												</div>
												<a href="index6118.html?add-to-cart=2073"  class="cart-btn ajax_add_to_cart add_to_cart_button" data-product_id="2073" data-product_sku="woo-cabbage" >
													<i class="fas fa-shopping-bag"></i>Add to cart
												</a>
											</div>
										</div>
									</li>
									<li class="product type-product post-1650 status-publish instock product_cat-bluberry product_cat-organic product_cat-vegetables product_tag-juicy product_tag-vegetables has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
										<div class="product-contents">
											<div class="product-image">
												<span class='onsale'>13% Off</span>
												<a href="../product/fresh-banana/index.html">
													<img src="static/assets/images/6.png" alt="Product">
												</a>
												<div class="shop-action">
													<ul>
														<li class="wishlist">
															<div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-woocommerce_before_shop_loop_item" data-tinvwl_product_id="1650">
																<div class="tinv-wishlist-clear"></div>
																<a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-product-already-on-wishlist  tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="1650" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add">
																	<span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span>
																	<span class="tinvwl_already_on_wishlist-text">Already In Wishlist</span>
																</a>
																<div class="tinv-wishlist-clear"></div>		
																<div class="tinvwl-tooltip">Add to Wishlist</div>
															</div>
														</li>
														<li class="quick-view">
															<a href="index66fd.html?quick-view=1650" class="woosq-btn woosq-btn-1650" data-id="1650" data-effect="mfp-3d-unfold" data-context="default" rel="nofollow">Quick view</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-caption">
												<div class="product-tags">
													<div class="product-tags">
														<a href="../product-tag/juicy/index.html" rel="tag">juicy</a>
														<a href="../product-tag/vegetables/index.html" rel="tag">Vegetables</a>
													</div>
												</div>
												<h4 class="product-title">
													<a href="../product/fresh-banana/index.html">Fresh Banana</a>
												</h4>
												<div class="price">
													<span class="price">
														<del aria-hidden="true">
															<span class="woocommerce-Price-amount amount">
																<bdi>40.00<span class="woocommerce-Price-currencySymbol">&#36;</span></bdi>
															</span>
														</del> 
														<ins>
															<span class="woocommerce-Price-amount amount">
																<bdi>35.00<span class="woocommerce-Price-currencySymbol">&#36;</span></bdi>
															</span>
														</ins>
													</span>
												</div>
												<a href="index998c.html?add-to-cart=1650"  class="cart-btn ajax_add_to_cart add_to_cart_button" data-product_id="1650" data-product_sku="woo-fresh-banana" ><i class="fas fa-shopping-bag"></i>Add to cart</a>
											</div>
										</div>
									</li>
									<li class="product type-product post-1651 status-publish last instock product_cat-organic product_cat-vegetables product_cat-winter product_tag-fruits product_tag-winter has-post-thumbnail shipping-taxable purchasable product-type-simple">
										<div class="product-contents">
											<div class="product-image">
												<a href="../product/fresh-fish/index.html">
													<img src="static/assets/images/5.png" alt="Product">
												</a>
												<div class="shop-action">
													<ul>
														<li class="wishlist">
															<div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-woocommerce_before_shop_loop_item" data-tinvwl_product_id="1651">
																<div class="tinv-wishlist-clear"></div>
																<a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-product-already-on-wishlist  tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="1651" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add"><span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span><span class="tinvwl_already_on_wishlist-text">Already In Wishlist</span></a>
																<div class="tinv-wishlist-clear"></div>		
																<div class="tinvwl-tooltip">Add to Wishlist</div>
															</div>
														</li>
														<li class="quick-view">
															<a href="indexf22c.html?quick-view=1651" class="woosq-btn woosq-btn-1651" data-id="1651" data-effect="mfp-3d-unfold" data-context="default" rel="nofollow">Quick view</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-caption">
												<div class="product-tags">
													<div class="product-tags">
														<a href="../product-tag/fruits/index.html" rel="tag">Fruits</a>
														<a href="../product-tag/winter/index.html" rel="tag">Winter</a>
													</div>
												</div>
												<h4 class="product-title">
													<a href="../product/fresh-fish/index.html">Fresh Fish</a>
												</h4>
												<div class="price">
													<span class="price">
														<span class="woocommerce-Price-amount amount">
															<bdi>20.00<span class="woocommerce-Price-currencySymbol">&#36;</span></bdi>
														</span>
													</span>
												</div>
												<a href="indexdd75.html?add-to-cart=1651"  class="cart-btn ajax_add_to_cart add_to_cart_button" data-product_id="1651" data-product_sku="woo-fresh-fish" ><i class="fas fa-shopping-bag"></i>Add to cart</a>
											</div>
										</div>
									</li>
									<li class="product type-product post-1644 status-publish first instock product_cat-organic product_cat-vegetables product_cat-winter product_tag-fruits product_tag-juicy has-post-thumbnail shipping-taxable purchasable product-type-simple">
										<div class="product-contents">
											<div class="product-image">
												<a href="../product/fresh-red-seedless/index.html"><img src="static/assets/images/1-300x300.png" alt="Product"></a>
												<div class="shop-action">
													<ul>
														<li class="wishlist">
															<div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-woocommerce_before_shop_loop_item" data-tinvwl_product_id="1644">
																<div class="tinv-wishlist-clear"></div>
																<a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-product-already-on-wishlist  tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="1644" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add">
																	<span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span>
																	<span class="tinvwl_already_on_wishlist-text">Already In Wishlist</span>
																</a>
																<div class="tinv-wishlist-clear"></div>		
																<div class="tinvwl-tooltip">Add to Wishlist</div>
															</div>
														</li>
														<li class="quick-view">
															<a href="index845f.html?quick-view=1644" class="woosq-btn woosq-btn-1644" data-id="1644" data-effect="mfp-3d-unfold" data-context="default" rel="nofollow">Quick view</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-caption">
												<div class="product-tags">
													<div class="product-tags">
														<a href="../product-tag/fruits/index.html" rel="tag">Fruits</a>
														<a href="../product-tag/juicy/index.html" rel="tag">juicy</a>
													</div>
												</div>
												<h4 class="product-title">
													<a href="../product/fresh-red-seedless/index.html">Fresh Red Seedless</a>
												</h4>
												<div class="price">
													<span class="price">
											 			<span class="woocommerce-Price-amount amount">
															<bdi>20.00<span class="woocommerce-Price-currencySymbol">&#36;</span></bdi>
														</span>
													</span>
												</div>
													<a href="index9ca2.html?add-to-cart=1644"  class="cart-btn ajax_add_to_cart add_to_cart_button" data-product_id="1644" data-product_sku="woo-fresh-red-seedless" >
														<i class="fas fa-shopping-bag"></i>Add to cart
													</a>
												</div>
											</div>
									</li>
									<li class="product type-product post-1646 status-publish instock product_cat-bluberry product_cat-crop product_cat-vegetables product_tag-fruits product_tag-vegetables has-post-thumbnail sale featured shipping-taxable purchasable product-type-simple">
										<div class="product-contents">
											<div class="product-image">
												<span class='onsale'>11% Off</span>
												<a href="../product/green-avocado/index.html">
													<img src="static/assets/images/8-1.png" alt="Product">
												</a>
												<div class="shop-action">
													<ul>
														<li class="wishlist">
															<div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-woocommerce_before_shop_loop_item" data-tinvwl_product_id="1646">
																<div class="tinv-wishlist-clear"></div>
																<a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-product-already-on-wishlist  tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="1646" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add">
																	<span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span>
																	<span class="tinvwl_already_on_wishlist-text">Already In Wishlist</span>
																</a>
																<div class="tinv-wishlist-clear"></div>		
																<div class="tinvwl-tooltip">Add to Wishlist</div>
															</div>
														</li>
														<li class="quick-view">
															<a href="indexa9f4.html?quick-view=1646" class="woosq-btn woosq-btn-1646" data-id="1646" data-effect="mfp-3d-unfold" data-context="default" rel="nofollow">Quick view</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-caption">
												<div class="product-tags">
													<div class="product-tags">
														<a href="../product-tag/fruits/index.html" rel="tag">Fruits</a>
														<a href="../product-tag/vegetables/index.html" rel="tag">Vegetables</a>
													</div>
												</div>
												<h4 class="product-title">
													<a href="../product/green-avocado/index.html">Green Avocado</a>
												</h4>
												<div class="price">
													<span class="price">
														<del aria-hidden="true">
															<span class="woocommerce-Price-amount amount">
																<bdi>18.00<span class="woocommerce-Price-currencySymbol">&#36;</span></bdi>
															</span>
														</del> 
														<ins>
															<span class="woocommerce-Price-amount amount">
																<bdi>16.00<span class="woocommerce-Price-currencySymbol">&#36;</span></bdi>
															</span>
														</ins>
													</span>
												</div>
												<a href="index1e63.html?add-to-cart=1646"  class="cart-btn ajax_add_to_cart add_to_cart_button" data-product_id="1646" data-product_sku="woo-cap" >
													<i class="fas fa-shopping-bag"></i>Add to cart
												</a>
											</div>
										</div>
									</li>
									<li class="product type-product post-2074 status-publish instock product_cat-fruits product_cat-organic product_tag-fruits product_tag-winter has-post-thumbnail featured shipping-taxable purchasable product-type-simple">
										<div class="product-contents">
											<div class="product-image">
												<a href="../product/green-apple/index.html">
													<img src="static/assets/images/Green-Apple.png" alt="Product">
												</a>
												<div class="shop-action">
													<ul>
														<li class="wishlist">
															<div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-woocommerce_before_shop_loop_item" data-tinvwl_product_id="2074">
																<div class="tinv-wishlist-clear"></div>
																<a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-product-already-on-wishlist  tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="2074" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add">
																	<span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span>
																	<span class="tinvwl_already_on_wishlist-text">Already In Wishlist</span>
																</a>
																<div class="tinv-wishlist-clear"></div>		
																<div class="tinvwl-tooltip">Add to Wishlist</div>
															</div>
														</li>
														<li class="quick-view">
															<a href="index9368.html?quick-view=2074" class="woosq-btn woosq-btn-2074" data-id="2074" data-effect="mfp-3d-unfold" data-context="default" rel="nofollow">Quick view</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-caption">
											<div class="product-tags">
												<div class="product-tags">
													<a href="#" rel="tag">Fruits</a>
													<a href="#" rel="tag">Winter</a>
												</div>
											</div>
											<h4 class="product-title">
												<a href="../product/green-apple/index.html">Green-Apple</a>
											</h4>
											<div class="price">
												<span class="price">
													<span class="woocommerce-Price-amount amount">
														<bdi>79.00<span class="woocommerce-Price-currencySymbol">&#36;</span></bdi>
													</span>
												</span>
											</div>
											<a href="indexb3e1.html?add-to-cart=2074"  class="cart-btn ajax_add_to_cart add_to_cart_button" data-product_id="2074" data-product_sku="woo-green-apple" >
												<i class="fas fa-shopping-bag"></i>Add to cart
											</a>
										</div>
										</div>
									</li>
									<li class="product type-product post-1660 status-publish last instock product_cat-crop product_cat-vegetables product_cat-winter product_tag-vegetables product_tag-winter has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
										<div class="product-contents">
											<div class="product-image">
												<span class='onsale'>14% Off</span>
												<a href="../product/organic-carrot/index.html"><img src="static/assets/images/2-300x300.png" alt="Product"></a>
												<div class="shop-action">
													<ul>
														<li class="wishlist">
															<div class="tinv-wraper woocommerce tinv-wishlist tinvwl-shortcode-add-to-cart tinvwl-woocommerce_before_shop_loop_item" data-tinvwl_product_id="1660">
																<div class="tinv-wishlist-clear"></div>
																<a role="button" tabindex="0" name="add-to-wishlist" aria-label="Add to Wishlist" class="tinvwl_add_to_wishlist_button tinvwl-icon-heart tinvwl-product-already-on-wishlist  tinvwl-position-shortcode" data-tinv-wl-list="[]" data-tinv-wl-product="1660" data-tinv-wl-productvariation="0" data-tinv-wl-productvariations="[]" data-tinv-wl-producttype="simple" data-tinv-wl-action="add">
																	<span class="tinvwl_add_to_wishlist-text">Add to Wishlist</span>
																	<span class="tinvwl_already_on_wishlist-text">Already In Wishlist</span>
																</a>
																<div class="tinv-wishlist-clear"></div>		
																<div class="tinvwl-tooltip">Add to Wishlist</div>
															</div>
														</li>
														<li class="quick-view">
															<a href="#" class="woosq-btn woosq-btn-1660" data-id="1660" data-effect="mfp-3d-unfold" data-context="default" rel="nofollow">Quick view</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="product-caption">
												<div class="product-tags">
													<div class="product-tags">
														<a href="#" rel="tag">Vegetables</a>
														<a href="#" rel="tag">Winter</a>
													</div>
												</div>
												<h4 class="product-title">
													<a href="#">Organic Carrot</a>
												</h4>
												<div class="price">
													<span class="price">
														<del aria-hidden="true">
															<span class="woocommerce-Price-amount amount">
																<bdi>29.00<span class="woocommerce-Price-currencySymbol">&#36;</span></bdi>
															</span>
														</del> 
														<ins>
															<span class="woocommerce-Price-amount amount">
																<bdi>25.00<span class="woocommerce-Price-currencySymbol">&#36;</span></bdi>
															</span>
														</ins>
													</span>
												</div>
												<a href="index76f2.html?add-to-cart=1660"  class="cart-btn ajax_add_to_cart add_to_cart_button" data-product_id="1660" data-product_sku="Woo-carrot" >
													<i class="fas fa-shopping-bag"></i>Add to cart
												</a>
											</div>
										</div>
									</li>
                                </ul>
                            </div><!-- End List -->
                        </div>
                    </div>
                </div><!-- End Tab Content -->
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}