<footer class="bg-dark text-light footer-custom-style">
    <div class="container">
        <div class="default-padding-style">
            <div class="row">
                <div class="col-lg-5 col-md-6 item">
                    <div id="agrica_aboutus_widget-2" class="widget footer-widget no-class">
                        <div class="footer-item about">
                            <img src="static/assets/images/Agro_preview.png" alt="AgroConnect"  class="logo" />
                            <p align="justify">Farmers can insure their crops 
                                against natural disasters. Farmers can register complaints, ensuring timely resolution. Users can 
                                list required items, promoting resource sharing. Agro Connect aims to enhance farmers’ lives, 
                                making agriculture more sustainable and efficient. 
                            </p>
                            <!-- <form class="newsletter-form">
                                <input type="email" placeholder="Your Email" class="form-control" name="email">
                                <button type="submit"> Go</button>
                            </form> -->
                            </div>
                        </div>
                    </div>
                            <div class="col-lg-2 col-md-6 item">
                                <div id="nav_menu-3" class="footer-item widget_nav_menu">
                                    <h4 class="widget-title">Explore</h4>
                                    <div class="menu-explore-container">
                                        <ul id="menu-explore" class="menu">
                                            <li id="menu-item-2640" style="margin-bottom: 10px;" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2640" >
                                                <a href="#">About Us</a>
                                            </li>
                                            <li id="menu-item-2641" style="margin-bottom:10px;" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2641">
                                                <a href="#">Products</a>
                                            </li>
                                            <li id="menu-item-2642" style="margin-bottom:10px;" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2642">
                                                <a href="#">Gallery</a>
                                            </li>
                                            <li id="menu-item-2643" style="margin-bottom:10px;" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2643">
                                                <a href="#">Login</a>
                                            </li>
                                            <li id="menu-item-2644" style="margin-bottom:10px;" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2644">
                                                <a href="#">Contact Us</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6 item offset-1">
                                <div id="agrica_contact_info_widget-2" class="footer-item f-item contact"><!-- About Widget Start -->
                                    <h4 class="widget-title">Contact Info</h4>
                                    <ul>
                                        <li>
                                            <div class="icon"><i class="fas fa-home"></i></div>
                                            <div class="content">
                                                <strong>Address:</strong>5919 Trussville Mumbai, India 
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="fas fa-envelope"></i>
                                            </div>
                                            <div class="content">
                                                <strong>Email:</strong>
                                                <a href="info@agroconnect.com">info@agroconnect.com</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="fas fa-phone"></i>
                                            </div>
                                            <div class="content">
                                                <strong>Phone:</strong>
                                                <a href="tel:+12334598768"> +91 7586958956</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- About Widget End -->
                        </div>
                    </div><!-- Start Footer Bottom -->
                    <div class="footer-bottom text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12" style="padding-top: 30px;">
                                    <p>Copyright  2024 <a href="index.html">AgroConnect.</a> All Rights Reserved by
                                        <a href="https://aitckollam.com">AgroConnect</a>
                                    </p>
                                </div>
                                <!-- </li></ul>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shape-right-bottom"> 
                    <img class="flower" src="static/assets/images/flower-new.png" alt="Agro">
                    
                </div>
            </div>
        </div>
    </div>
</div>
</footer>	
    <script type="text/javascript">
            (function () {
                var c = document.body.className;
                c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
                document.body.className = c;
            })();
    </script>
        <script type="text/javascript" id="agrica-ajax-js-extra">
    /* <![CDATA[ */
    var agricaajax = {"action_url":"https:\/\/wordpress.validthemes.net\/agrica\/wp-admin\/admin-ajax.php","nonce":"704c87c7e0"};
    /* ]]> */
    </script>
    <script type="text/javascript" src="static/assets/js/agrica.ajax5152.js?ver=1.0" id="agrica-ajax-js"></script>
    <script type="text/javascript" src="static/assets/js/indexdfc9.js?ver=5.8.5" id="swv-js"></script>
    <script type="text/javascript" id="contact-form-7-js-extra">
    /* <![CDATA[ */
    var wpcf7 = {"api":{"root":"https:\/\/wordpress.validthemes.net\/agrica\/wp-json\/","namespace":"contact-form-7\/v1"}};
    /* ]]> */
    </script>
    <script type="text/javascript" src="static/assets/js/indexdfc9.js?ver=5.8.5" id="contact-form-7-js"></script>
    <script type="text/javascript" id="wc-add-to-cart-variation-js-extra">
    /* <![CDATA[ */
    var wc_add_to_cart_variation_params = {"wc_ajax_url":"\/agrica\/?wc-ajax=%%endpoint%%","i18n_no_matching_variations_text":"Sorry, no products matched your selection. Please choose a different combination.","i18n_make_a_selection_text":"Please select some product options before adding this product to your cart.","i18n_unavailable_text":"Sorry, this product is unavailable. Please choose a different combination."};
    /* ]]> */
    </script>
    <script type="text/javascript" src="static/assets/js/frontend/add-to-cart-variation.min2678.js?ver=8.4.0" id="wc-add-to-cart-variation-js" data-wp-strategy="defer"></script>
    <script type="text/javascript" src="static/assets/libs/slick/slick.mina25a.js?ver=3.5.5" id="slick-js"></script>
    <script type="text/javascript" src="static/assets/libs/perfect-scrollbar/js/perfect-scrollbar.jquery.mina25a.js?ver=3.5.5" id="perfect-scrollbar-js"></script>
    <script type="text/javascript" src="static/assets/libs/magnific-popup/jquery.magnific-popup.mina25a.js?ver=3.5.5" id="magnific-popup-js"></script>
    <script type="text/javascript" id="woosq-frontend-js-extra">
    /* <![CDATA[ */
    var woosq_vars = {"ajax_url":"https:\/\/wordpress.validthemes.net\/agrica\/wp-admin\/admin-ajax.php","nonce":"809ef66b19","view":"popup","effect":"mfp-3d-unfold","scrollbar":"yes","auto_close":"yes","hashchange":"no","cart_redirect":"no","cart_url":"https:\/\/wordpress.validthemes.net\/agrica\/cart\/","close":"Close (Esc)","next_prev":"yes","next":"Next (Right arrow key)","prev":"Previous (Left arrow key)","thumbnails_effect":"no","related_slick_params":"{\"slidesToShow\":2,\"slidesToScroll\":2,\"dots\":true,\"arrows\":false,\"adaptiveHeight\":true,\"rtl\":false}","thumbnails_slick_params":"{\"slidesToShow\":1,\"slidesToScroll\":1,\"dots\":true,\"arrows\":true,\"adaptiveHeight\":false,\"rtl\":false}","thumbnails_zoom_params":"{\"duration\":120,\"magnify\":1}","quick_view":"0"};
    /* ]]> */
    </script>
    <script type="text/javascript" src="static/assets/js/frontenda25a.js?ver=3.5.5" id="woosq-frontend-js"></script>
    <script type="text/javascript" id="wc-cart-fragments-js-extra">
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/agrica\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/agrica\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_913fda1d0d76cadf1d0f9046394aa0c3","fragment_name":"wc_fragments_913fda1d0d76cadf1d0f9046394aa0c3","request_timeout":"5000"};
    /* ]]> */
    </script>
    <script type="text/javascript" src="static/assets/js/frontend/cart-fragments.min2678.js?ver=8.4.0" id="wc-cart-fragments-js" data-wp-strategy="defer"></script>
    <script type="text/javascript" id="tinvwl-js-extra">
    /* <![CDATA[ */
   
    /* ]]> */
    </script>
    <script type="text/javascript" src="static/assets/js/public.minf71b.js?ver=2.8.0" id="tinvwl-js"></script>
    <script type="text/javascript" src="static/assets/js/bootstrap.bundle.min8a54.js?ver=1.0.0" id="bootstrap-js"></script>
    <script type="text/javascript" src="static/assets/js/circle-progress8a54.js?ver=1.0.0" id="circle-progress-js"></script>
    <script type="text/javascript" src="static/assets/js/count-to8a54.js?ver=1.0.0" id="count-to-js"></script>
    <script type="text/javascript" src="static/assets/js/gsap8a54.js?ver=1.0.0" id="gsap-js"></script>
    <script type="text/javascript" src="static/assets/js/isotope.pkgd.min8a54.js?ver=1.0.0" id="isotope-pkgd-js"></script>
    <script type="text/javascript" src="static/assets/js/jquery.appear8a54.js?ver=1.0.0" id="appear-js"></script>
    <script type="text/javascript" src="static/assets/js/jquery.scrolla.min8a54.js?ver=1.0.0" id="scrolla-js"></script>
    <script type="text/javascript" src="static/assets/js/ScrollOnReveal8a54.js?ver=1.0.0" id="ScrollOnReveal-js"></script>
    <script type="text/javascript" src="static/assets/js/SplitText.min8a54.js?ver=1.0.0" id="SplitText-js"></script>
    <script type="text/javascript" src="static/assets/js/ScrollTrigger.min8a54.js?ver=1.0.0" id="ScrollTrigger-js"></script>
    <script type="text/javascript" src="static/assets/js/progress-bar.min8a54.js?ver=1.0.0" id="progress-bar-js"></script>
    <script type="text/javascript" src="static/assets/js/swiper-bundle.min8a54.js?ver=1.0.0" id="swiper-js"></script>
    <script type="text/javascript" src="static/assets/js/validnavs8a54.js?ver=1.0.0" id="agrica-validnavs-js"></script>
    <script type="text/javascript" src="static/assets/js/imagesloaded.minbb93.js?ver=5.0.0" id="imagesloaded-js"></script>
    <script type="text/javascript" src="static/assets/js/YTPlayer.min8a54.js?ver=1.0.0" id="YTPlayer-js"></script>
    <script type="text/javascript" src="static/assets/js/maind5f7.js?ver=2.0" id="agrica-main-script-js"></script>
    <script type="text/javascript" src="static/assets/js/webpack.runtime.minf3b2.js?ver=3.18.3" id="elementor-webpack-runtime-js"></script>
    <script type="text/javascript" src="static/assets/js/frontend-modules.minf3b2.js?ver=3.18.3" id="elementor-frontend-modules-js"></script>
    <script type="text/javascript" src="static/assets/lib/waypoints/waypoints.min05da.js?ver=4.0.2" id="elementor-waypoints-js"></script>
    <script type="text/javascript" src="static/assets/js/core.min3f14.js?ver=1.13.2" id="jquery-ui-core-js"></script>
       
   <script type="text/javascript" id="elementor-frontend-js-before">
  
    var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false},
    
    "responsive":{"breakpoints":{"mobile":{"label":"Mobile Portrait","value":767,"default_value":767,
    "direction":"max","is_enabled":true},"mobile_extra":{"label":"Mobile Landscape","value":880,
    "default_value":880,"direction":"max","is_enabled":false},"tablet":{"label":"Tablet Portrait",
    "value":1024,"default_value":1024,"direction":"max","is_enabled":true},
    "tablet_extra":{"label":"Tablet Landscape","value":1200,"default_value":1200,"direction":"max",
    "is_enabled":false},"laptop":{"label":"Laptop","value":1366,"default_value":1366,"direction":"max",
    "is_enabled":false},"widescreen":{"label":"Widescreen","value":2400,"default_value":2400,
    "direction":"min","is_enabled":false}}},
    "version":"3.18.3","is_static":false,"experimentalFeatures":{"e_dom_optimization":true,"e_optimized_assets_loading":true,
    "e_optimized_css_loading":true,"additional_custom_breakpoints":true,"container":true,"e_swiper_latest":true,
    "block_editor_assets_optimize":true,"landing-pages":true,"e_image_loading_optimization":true,
    "e_global_styleguide":true},
    "urls":{"static:\/assets":"css\/"},
    "swiperClass":"swiper","settings":{"page":[],"editorPreferences":[]}
    
    };
    </script>
    <script type="text/javascript" src="static/assets/js/frontend.minf3b2.js?ver=3.18.3" id="elementor-frontend-js"></script>
    <script type="text/javascript" src="static/assets/js/agrica-core5152.js?ver=1.0" id="agrica-core-js"></script>
    <script type="text/javascript" src="static/assets/js/agrica-frontend84fc.js?ver=6.4.3" id="agrica-frontend-script-js"></script>
    <!-- WooCommerce JavaScript -->
    <script type="text/javascript">
    jQuery(function($) { 
       
               
          $(document).on( 'click', 'button.plus, button.minus', function() {
      
             var qty = $( this ).parent( '.quantity' ).find( '.qty' );
             var val = parseFloat(qty.val());
             var max = parseFloat(qty.attr( 'max' ));
             var min = parseFloat(qty.attr( 'min' ));
             var step = parseFloat(qty.attr( 'step' ));
     
            if ( $( this ).is( '.plus' ) ) {
                if ( max && ( max <= val ) ) {
                   qty.val( max ).change();
                } else {
                   qty.val( val + step ).change();
                }
            } else {
                if ( min && ( min >= val ) ) {
                   qty.val( min ).change();
                } else if ( val > 1 ) {
                   qty.val( val - step ).change();
                }
            }
     
          });
            
       
     });
    </script>
    </body>
    
    <!-- Mirrored from wordpress.validthemes.net/agrica/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 22 Mar 2024 10:30:20 GMT -->
    </html>