{% include 'header.html' %}

<div class="elementor-element elementor-element-f7a43e8 e-con-full e-flex e-con e-parent" data-id="f7a43e8" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}" data-core-v316-plus="true">
	<div class="elementor-element elementor-element-ba5084b elementor-widget elementor-widget-agricaaboutus" data-id="ba5084b" data-element_type="widget" data-widget_type="agricaaboutus.default">
		<div class="elementor-widget-container">
			<div class="about-style-one-area default-padding overflow-hidden">
				<div class="container">
					<div class="row align-center">
						<div class="col-xl-6 col-lg-5">
							<div class="about-style-one-thumb">
								<img decoding="async" src="static/assets/images/img14.jpg" alt="Agrica"  />
									<!-- <div class="animation-shape">
									<img decoding="async" src="static/assets/images/1.png" alt="Agrica"  /></div> -->
							</div>
						</div>
						<div class="col-xl-5 offset-xl-1 col-lg-6 offset-lg-1">
							<div class="about-style-one-info">
								<h2 class="vt-title title">Agriculture equipment &amp;  <br> Organic product Sale</h2>
								<p class="vt-desc">There are many variations of passages of ipsum available but the majority have suffered alteration in some form by injected humor or random word which don’t look even. Comparison new ham melancholy.</p>
								<div class="fun-fact-style-flex mt-35">
									<div class="counter">
										<div class="timer" data-to="25" data-speed="2000">25</div>
										<div class="operator">M</div>
									</div>
									<span class="medium">Growth Tonns <br> of Harvest</span>
								</div>
								<ul class="top-feature">
								
									<div class="col-xl-12 col-lg-5">
										<div class="about-style-one-thumb">
											<img decoding="async" src="static/assets/images/l2.jpg" alt="Agrica" style="width: 100%; height: 300px; object-fit: cover;" />
										</div>
									</div>
									<div class="col-xl-12 col-lg-5">
										<div class="about-style-one-thumb">
											<img decoding="async" src="static/assets/images/l3.jpg" alt="Agrica" style="width: 100%; height: 300px; object-fit: cover;" />
										</div>
									</div>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="elementor-element elementor-element-7463157 e-con-full e-flex e-con e-parent" data-id="7463157" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}" data-core-v316-plus="true">
	<div class="elementor-element elementor-element-88d26d4 elementor-widget elementor-widget-agricaservices" data-id="88d26d4" data-element_type="widget" data-widget_type="agricaservices.default">
		<div class="elementor-widget-container">
			<div class="services-style-one-area">
				<div class="shape-right-top" style="background-image: url(static/assets/images/9-1.png);"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-6 offset-lg-3">
							<div class="site-heading text-center">
								<h5 class="sub-title">Notifications</h5>
								<h2 class="title">Latest notifications of<br>the lands for lease.</h2>
							</div>
						</div>
					</div>
					<div class="row"><!-- Single Item -->
						<div class="col-lg-4 col-md-6 service-one-single">
							<div class="service-style-one-item">
								<div class="thumb">
									<img decoding="async" src="static/assets/images/land6.jpg" alt="Agrica"  />
								</div>
								<div class="info">
									<div class="top">
										<h4 class="vt-f-title">
											<a href="service-details/index.html">Agriculture Land<span>Near 
												Kollam railway station.</span></a>
										</h4>
									</div>
									<p class="vt-f-text"> This land is suitable for intercropping.There is irrigation facilities near the land.<br>Lease amount:<br>Rs.5,00,000/yr.</p>
								</div>
								<a href="service-details/index.html" class="btn-angle"><i class="fas fa-arrow-right"></i></a>
							</div>
						</div><!-- End Single Item --><!-- Single Item -->
						<div class="col-lg-4 col-md-6 service-one-single">
							<div class="service-style-one-item">
								<div class="thumb">
									<img decoding="async" src="static/assets/images/land7.jpg" alt="Agrica"  />
								</div>
								<div class="info"><div class="top">
									<h4 class="vt-f-title"><a href="service-details/index.html">Poultry Farm<span>Near kadappakkada,street 12B</span></a></h4>
								</div>
								<p class="vt-f-text">Cattle shed,Biowaste Management,Well irrigation facility,Surrounding plots can be used for planting.<br>Rent Amount:<br>Rs.30,000/month.</p>
							</div>
							<a href="service-details/index.html" class="btn-angle"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div><!-- End Single Item --><!-- Single Item -->
					<div class="col-lg-4 col-md-6 service-one-single">
						<div class="service-style-one-item">
							<div class="thumb">
								<img decoding="async" src="static/assets/images/land8.jpg" alt="Agrica"  />
							</div>
							<div class="info">
								<div class="top">
									<h4 class="vt-f-title"><a href="service-details/index.html"> Agriculture Land<span>Near Military CSD,Keralapuram,Kundara</span></a></h4>
								</div>
								<p class="vt-f-text">Good for growing anytype of crops.Irrigation facilities available.Grow bag farming is most suitable.<br>Rent amount:<br>Rs.45,000/month.</p>
							</div>
							<a href="service-details/index.html" class="btn-angle"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div><!-- End Single Item -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->
<div class="elementor-element elementor-element-1dd0f1e e-con-full e-flex e-con e-parent" data-id="1dd0f1e" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}" data-core-v316-plus="true">
	<div class="elementor-element elementor-element-5fe8e21 elementor-widget elementor-widget-agricavideoarea" data-id="5fe8e21" data-element_type="widget" data-widget_type="agricavideoarea.default">
		<div class="elementor-widget-container">
			<div class="benifits-area default-padding-top video-bg-live bg-cover mt--50 mt-md-0 mt-xs-0" style="background-image: url(static/assets/images/16.jpg);">		        
				<div class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=w9eRIGTHKJM',containment:'.video-bg-live', showControls:false, autoPlay:true, zoom:0, loop:true, mute:true, startAt:13, opacity:1, quality:'default'}"></div>
				<div class="shape-top-center" style="background-image: url(static/assets/images/10.png);"></div>
					<div class="container">
						<div class="row">
							<div class="col-xl-6 col-lg-7">
								<div class="benifit-items text-light">
									<div class="shape">
										<img decoding="async" src="static/assets/images/8-1.png" alt="Agrica"  />
									</div>
									<h2 class="vt-title title">Distributors of Organic Produce</h2>
									<p class="vt-desc">Contrasted dissimilar get joy you instrument out reasonably. Again keeps at no meant stuff. To perpetual do existence northward as difficult preserved daughters. Continued at up to zealously.</p>
									<ul class="list-standard">
                           				<li>Modern Agriculture Equipment</li>
                            			<li>Awesome Harvest of Wheat</li>
                            			<li>Fresh Fruits &amp; Vegetables</li>
                        			</ul>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<div class="elementor-element elementor-element-5c6706e e-con-full e-flex e-con e-parent" data-id="5c6706e" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}" data-core-v316-plus="true">
	<div class="elementor-element elementor-element-a3bb997 elementor-widget elementor-widget-agricasproductcats" data-id="a3bb997" data-element_type="widget" data-widget_type="agricasproductcats.default">
		<div class="elementor-widget-container">
			<div class="product-cat-area default-padding">
				<!-- <div class="shape-right-bottom-mini">
					<img decoding="async" src="static/assets/images/11.png" alt="Agrica"  />
				</div> -->
				<div class="container">
					<div class="product-cat-items">
						<div class="row align-center">
							<div class="col-lg-5 product-cat-info">
								<h2 class="mask-text" style="background-image: url(static/assets/images/17.jpg);">Locally sourced fruits and veggies</h2>
							</div>
							<div class="col-lg-6 offset-lg-1">
								<div class="product-cat-lists text-light">
									<div class="product-list-box"><!-- Single Item -->
										<div class="product-list-item">
											<a href="product-category/vegetables/index.html">
												<img decoding="async" src="static/assets/images/2-300x300.png" alt="Agrica"  />
												<h5 class="vt-f-title">Blueberry</h5>
											</a>
										</div><!-- End Single Item --><!-- Single Item -->
										<div class="product-list-item">
											<a href="#">
												<img decoding="async" src="static/assets/images/1-300x300.png" alt="Agrica"  />
												<h5 class="vt-f-title">Strawberry</h5>
											</a>
										</div><!-- End Single Item --><!-- Single Item -->
										<div class="product-list-item">
											<a href="product-category/vegetables/index.html">
												<img decoding="async" src="static/assets/images/3-300x300.png" alt="Agrica"  />
												<h5 class="vt-f-title">Cabbage</h5>
											</a>
										</div><!-- End Single Item --><!-- Single Item -->
										<div class="product-list-item">
											<a href="product-category/vegetables/index.html">
												<img decoding="async" src="static/assets/images/4-1-300x300.png" alt="Agrica"  />
												<h5 class="vt-f-title">Maize</h5>
											</a>
										</div><!-- End Single Item --><!-- Single Item -->
										<div class="product-list-item">
											<a href="product-category/vegetables/index.html">
												<img decoding="async" src="static/assets/images/8-1-300x300.png" alt="Agrica"  />
												<h5 class="vt-f-title">Orange</h5>
											</a>
										</div><!-- End Single Item --><!-- Single Item -->
										<div class="product-list-item">
											<a href="product-category/vegetables/index.html">
												<img decoding="async" src="static/assets/images/6-300x300.png" alt="Agrica"  />
												<h5 class="vt-f-title">Apples</h5>
											</a>
										</div><!-- End Single Item -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="elementor-element elementor-element-20e2226 e-con-full e-flex e-con e-parent" data-id="20e2226" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;background_background&quot;:&quot;classic&quot;}" data-core-v316-plus="true">
	<div class="elementor-element elementor-element-3c84207 elementor-widget elementor-widget-agricatestimonials" data-id="3c84207" data-element_type="widget" data-widget_type="agricatestimonials.default">
		<div class="elementor-widget-container">
			<!------------------------------- Testimonials Area start ------------------------------->
			<div class="testimonial-area">
				<div class="container">
					<div class="row">
						<div class="col-xl-10 offset-xl-1">
							<div class="testimonial-heading">
								<h2 class="vt-f-title">Testimonials</h2>
							</div>
							<div class="testimonial-carousel testimonial-style-one swiper"><!-- Additional required wrapper -->
								<div class="swiper-wrapper"><!-- Single item -->
									<div class="swiper-slide">
										<div class="testimonial-style-one">
											<div class="thumb">
												<img decoding="async" src="static/assets/images/f21.jpg" alt="Agrica"  />
											</div>
											<div class="info">
												<img decoding="async" src="static/assets/images/quote-big.png" alt="Agrica"  />
												<p>"Our farm's productivity has increased by 30% since we started using modern farming techniques. With better access to tools and knowledge, we've not only grown more crops but also improved the quality of our produce. It's been a game-changer for us!"</p>
												<div class="provider">
													<div class="content">
														<h4>Alan J Mathew</h4><span>Senior Consultant</span>
													</div>
													<div class="rating">
														<i class="fas fa-star"></i><i class="fas fa-star"></i>
														<i class="fas fa-star-half-alt"></i>
														<i class="fas fa-star-half-alt"></i>
														<i class="fas fa-star-half-alt"></i>
													</div>
												</div>
											</div>
										</div>
									</div><!-- Single item -->
									<div class="swiper-slide">
										<div class="testimonial-style-one">
											<div class="thumb">
												<img decoding="async" src="static/assets/images/Lady.jpg" alt="Agrica"  />
											</div>
											<div class="info">
												<img decoding="async" src="static/assets/images/quote-big.png" alt="Agrica"  />
												<p>"The precision irrigation system has been revolutionary for water conservation on our farm. We're using 40% less water, and the crops are thriving even in the dry season. It's a win for both the environment and our business."</p>
												<div class="provider">
													<div class="content">
														<h4>Jobin Johnson</h4><span>Marketing Manager</span>
													</div>
													<div class="rating">
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star-half-alt"></i>
														<i class="fas fa-star-half-alt"></i>
														<i class="fas fa-star-half-alt"></i>
													</div>
												</div>
											</div>
										</div>
									</div><!-- Single item -->
									<div class="swiper-slide">
										<div class="testimonial-style-one">
											<div class="thumb">
												<img decoding="async" src="static/assets/images/farmer1.jpg" alt="Agrica"  />
											</div>
											<div class="info">
												<img decoding="async" src="static/assets/images/quote-big.png" alt="Agrica"  />
												<p>"Adopting sustainable farming practices has not only saved costs but has also enriched our soil. The use of eco-friendly fertilizers and proper crop rotation has brought us closer to nature and made our farm more resilient."</p>
												<div class="provider">
													<div class="content">
														<h4>Joel P Joseph</h4><span>Senior Developer</span>
													</div>
													<div class="rating">
														<i class="fas fa-star"></i>
														<i class="fas fa-star"></i>
														<i class="fas fa-star-half-alt"></i>
														<i class="fas fa-star-half-alt"></i>
														<i class="fas fa-star-half-alt"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--------------------------------- Testimonials Area end --------------------------------->		
		</div>
	</div>
</div>
<div class="elementor-element elementor-element-a621d55 e-con-full e-flex e-con e-parent" data-id="a621d55" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}" data-core-v316-plus="true">
	<div class="elementor-element elementor-element-c4ddad6 elementor-widget elementor-widget-agricagalleryes" data-id="c4ddad6" data-element_type="widget" data-widget_type="agricagalleryes.default">
		<div class="elementor-widget-container">
			<div class="gallery-style-one-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 offset-lg-3">
							<div class="site-heading text-center">
								<!-- <h5 class="sub-title">Property</h5> -->
								<!-- <h2 class="title">Notifications</h2> -->
							</div>
						</div>
					</div>
				</div>
				<div class="container-fill">
					<div class="row">
						<div class="gallery-style-one-carousel swiper"><!-- Additional required wrapper -->
							<div class="swiper-wrapper"><!-- Single Item -->
								<div class="swiper-slide">
									<div class="gallery-style-one">
										<!-- <img decoding="async" src="static/assets/images/1-3.jpg" alt="Agrica"  /> -->
										<div class="overlay">
											<p class="vt-f-title">Fruit</p>
											<h4 class="vt-f-text">
												<a href="{{url_for('index')}}">Contact us</a>
											</h4>
										</div>
									</div>
								</div><!-- End Single Item --><!-- Single Item -->
								<div class="swiper-slide">
									<div class="gallery-style-one">
										<!-- <img decoding="async" src="static/assets/images/2-2.jpg" alt="Agrica"  /> -->
										<div class="overlay">
											<p class="vt-f-title">Organic</p>
											<h4 class="vt-f-text"><a href="project-details/index.html">Cow Milk</a></h4>
										</div>
									</div>
								</div><!-- End Single Item --><!-- Single Item -->
								<div class="swiper-slide">
									<div class="gallery-style-one">
										<!-- <img decoding="async" src="static/assets/images/3-3.jpg" alt="Agrica"  /> -->
										<div class="overlay">
											<p class="vt-f-title">Vegetables</p>
											<h4 class="vt-f-text">
												<a href="project-details/index.html">Organic Vegetables</a>
											</h4>
										</div>
									</div>
								</div><!-- End Single Item --><!-- Single Item -->
								<div class="swiper-slide">
									<div class="gallery-style-one">
										<!-- <img decoding="async" src="static/assets/images/4-2.jpg" alt="Agrica"  /> -->
										<div class="overlay">
											<p class="vt-f-title">Cereals</p>
											<h4 class="vt-f-text"><a href="project-details/index.html">Fresh Mandrains</a></h4>
										</div>
									</div>
								</div><!-- End Single Item --><!-- Single Item -->
								<div class="swiper-slide">
									<div class="gallery-style-one">
										<!-- <img decoding="async" src="static/assets/images/5-2.jpg" alt="Agrica"  /> -->
										<div class="overlay">
											<p class="vt-f-title">Havest</p>
											<h4 class="vt-f-text"><a href="project-details/index.html">Crispy Cucumber</a></h4>
										</div>
									</div>
								</div><!-- End Single Item -->
							</div><!-- Pagination -->
							<!-- <div class="swiper-pagi=nation"></div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="elementor-element elementor-element-bdb746f e-con-full e-flex e-con e-parent" data-id="bdb746f" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}" data-core-v316-plus="true">
	<div class="elementor-element elementor-element-8fc0370 elementor-widget elementor-widget-agricachoseus" data-id="8fc0370" data-element_type="widget" data-widget_type="agricachoseus.default">
		<div class="elementor-widget-container">
			<div class="choose-us-style-one-area ">
				<div class="container">
					<div class="row align-center">
						<div class="col-xl-5 col-lg-5">
							<div class="choose-us-thumb">
								<img decoding="async" src="static/assets/images/9-3.png" alt="Agrica"  />
							</div>
						</div>
						<div class="col-xl-6 offset-xl-1 col-lg-7">
							<div class="achivement-items">
								<ul class="list-details">
									<li>
										<h4 class="vt-f-title">Pure &amp; Organic</h4>
										<p class="vt-f-text">Continued at up to zealously necessary breakfast. Surrounded sir motionless she end literature. Gay direction neglected but supported yet her. </p>
									</li>
									<li>
										<h4 class="vt-f-title">Always Fresh</h4>
										<p class="vt-f-text">Continued at up to zealously necessary breakfast. Surrounded sir motionless she end literature. Gay direction neglected but supported yet her. </p>
									</li>
								</ul>
								<div class="achivement-content"> 
									<div class="item">
										<div class="progressbar">
											<div class="circle" data-percent="83">
												<strong></strong>
											</div>
										</div>
										<h4 class="vt-c-title">Organic Solutions</h4>
									</div> 
									<div class="item">
										<div class="progressbar">
											<div class="circle" data-percent="60">
												<strong></strong>
											</div>
										</div>
										<h4 class="vt-c-title">Quality Agriculture</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
							
 {% include 'footer.html' %}      