{% include 'landowner_header.html' %}

<div class="breadcrumb-area text-center shadow custom-breadcrumb dark text-light ">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="breadcumb-title">WELCOME</h1>
            <nav class="woocommerce-breadcrumb" aria-label="Breadcrumb">
                <a href="https://wordpress.validthemes.net/agrica"></a>
                <a href="../../product-category/organic/index.html"><i>Land is the foundation of agriculture;<br>it nurtures our future and sustains our communities.</a></i></a><br>Home</a></div>
            </div>
        </div>
</div><!-- End of Page title -->
<div class="validtheme-shop-single-area default-padding">
    <div class="container">
        <div class="product-details">
            <div class="row">
				
                
                                                
                                                <table>
                                                 
                                                
                                                    <tr class="info">
                                                        <td>Download MOU</td>
                                                        <td><a style="background-color: #49a760;width: 194px;" href="{{ url_for('static', filename='uploads/' +  result_data ) }}" download>Download MOU</a> 
                                                     
                                                    </tr>
                                                   
                                                </table>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Single Post -->

            
				
			
	<div class="col-lg-6"><div class="product-thumb"><div class="item-box"></div></div></div>
	<div class="col-lg-6">
		
 </li></ul>
</div> 
			</form>

	
 </div>
 </div>

		<!-- Product Bottom Info  -->
    <div class="single-product-bottom-info">
        <div class="row">
            <div class="col-lg-12">
                <!-- Tab Nav -->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                		
                        
                    	
                        
                                    </div>
                <!-- End Tab Nav -->
                <!-- Start Tab Content -->
                <div class="tab-content tab-content-info" id="myTabContent">
                		
                    <!-- Tab Single -->
                    <div class="tab-pane fade show active" id="description-tab" role="tabpanel" aria-labelledby="description-tab">
                    
	
                    </div>
                    
			</div> 

					

			
                    	
                </div>
                
				<div class="vt-products text-center related-product-carousel swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
									<div class="swiper-slide">
						
</div>
</div>
<div class="product-caption">
    <div class="product-tags">
        <div class="product-tags">
            <a href="../../product-tag/crop/index.html" rel="tag"></a>
            <a href="../../product-tag/organic/index.html" rel="tag">Organic</a>
        </div>
    </div>
    <h4 class="product-title"><a href="../strawberry/index.html">Strawberry</a></h4>
    <div class="price">
	
							</div> 
		</div>

	</div>
	


		
 </div>
 </div>
 </div>
 </div>

    {% include 'footer.html' %}