<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>User Registration</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'><link rel="stylesheet" href="static/assets/css/ustyle.css">

</head>
<body>
        <div class="screen">
            <h2>User Registration Form</h2>
            <form class="login">
                
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i> <!-- Name Icon -->
                    <input type="text" class="login__input" placeholder="Name">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-map-marker-alt"></i> <!-- Address Icon -->
                    <input type="text" class="login__input" placeholder="Address">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-envelope"></i> <!-- Email Icon -->
                    <input type="text" class="login__input" placeholder="Email">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-phone"></i> <!-- Contact Icon -->
                    <input type="text" class="login__input" placeholder="Contact">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-id-card"></i> <!-- Adhar No Icon -->
                    <input type="text" class="login__input" placeholder="Adhar No">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-upload"></i> <!-- Upload Photo Icon -->
                    <input type="file" class="login__input" placeholder="Upload photo">
                </div>
                <button class="button login__submit">
                    <span class="button__text">Submit</span>
                </button>
            </form>
            <button class="button1">
                <a href="index.html"><span style="color:white;">Back to home</span></a>
            </button>
        </div>
</body>
</html>
